.ant-layout-sider-children {
  height: 95vh !important;
  padding: 15px !important;
}
.ant-layout-sider {
  border-radius: 10px !important;
}
.anticon svg {
  height: 25px;
  width: 25px;
  font-size: 25px;
}
.ant-layout-header {
  margin: 0 10px !important;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ant-layout {
  margin: 10px;
}
.cart-count {
  cursor: pointer;
}
